# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
# USB communication
config USB_PID_CONSOLE_SAMPLE
    hex
    default 0x0004
    depends on USB_DEVICE_STACK
config USB_DEVICE_PID
    default USB_PID_CONSOLE_SAMPLE
endmenu

menu "Message queue configuration"
config QUEUE_SIZE
    int "Queue size"
    default 3
    help
      Defines the size of the message queue.

config MSG_BYTESIZE
    int "Message byte size"
    default 24
    help
      Defines the size of the messages in bytes.
endmenu

menu "Sensor logging"
config SENSOR
    bool "Enable logging of (mockup) sensor"
    default y  
    help
        Enables or disables the thread that produces and consumes (mockup) sensor readings
config SENSOR_PERIOD
    int "Sensor measurement period in s. Readout happens immediately after."
    default 10
    help
        Defines the sensor measurement period in s. Readout happens immediately after.
endmenu

# Logging modules
module = MAIN
module-str = main
source "subsys/logging/Kconfig.template.log_config"

module = CONSOLE
module-str = console
source "subsys/logging/Kconfig.template.log_config"

module = LEDCTRL
module-str = ledctrl
source "subsys/logging/Kconfig.template.log_config"

module = BUTTONCTRL
module-str = buttonctrl
source "subsys/logging/Kconfig.template.log_config"

module = MESSAGING
module-str = messaging
source "subsys/logging/Kconfig.template.log_config"
