/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the RP Pico. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */
/{
	aliases {
		sw0 = &button0; // Button alias used throughout the code
		led = &status_led;
	};

	buttons {
        compatible = "gpio-keys";  // Compatible with gpio-keys driver
        button0: button_0 {
            gpios = < &gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;  // Button at GPIO 4
            label = "User button";
        };
    };

	blink_led: blink-led {
		compatible = "blink-gpio-led";
		led-gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
		blink-period-ms = <1000>;
	};

	leds{
		compatible = "gpio-leds";
		status_led:status-led{
			gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
			label = "Status LED";
		};

		button_led:button-led{
			gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
			label = "Red LED triggered by button";
		};
	};
};

&gpio0 {
	status = "okay";
};

/* Shell console using USB
*
*/
/ {
	chosen {
		zephyr,console = &snippet_cdc_acm_console_uart;
		zephyr,shell-uart = &snippet_cdc_acm_console_uart;
	};
};

&zephyr_udc0 {
	snippet_cdc_acm_console_uart: snippet_cdc_acm_console_uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};